body{
    /* background: linear-gradient(180deg, #EAE0D5 0%, #E2BDAF 76.64%); */
    /* background: linear-gradient(180deg, #EAE0D5 0%, rgba(234, 224, 213, 0.933754) 0.01%, rgba(227, 192, 178, 0.781442) 73.96%, rgba(226, 189, 175, 0.766423) 81.25%, rgba(223, 174, 159, 0.697917) 99.99%, rgba(234, 224, 213, 0) 100%); */
    background-image: url('../images/background.webp');
    background-size: cover;
    height: 100vh;
}
.title{
    font-family: 'Source Serif Pro';
    font-size: 82px;
    font-style: normal;
    font-weight: 700;
    line-height: 103px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D2121;
    text-shadow: 0px 4px 4px 0px #00000040;
    background-color: wheat;



    
}
.card{
    color: white;
    border-color: #230903;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;

}
.card-body{
    background-color: #004E64;
}
.amplop{
    width: 100%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.gift:hover img {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
  
.navbar{
    background-color: #004E64;
}

.content{
    /* background-color: #2E1F27; */
    background-image: url('../images/bgamplop.webp');
    background-size:cover;
    height: 150vh;
    /* color: white; */
}

.pesan{
    font-size: large;
    padding: 40px;
    font-family: 'Roboto';
}
.judul{
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.oleh1{
    background-color: #955d32;
}
.oleh2{
    background-color: #8b0000;
}

.nav-link{
    text-decoration: none;
    color: #F9EBE0;
    font-size: 22px;
}
.nav-link:hover{
    background-color: #1A090D;
    color: #F4D58D;
    
}
